.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.Wrapper {
  padding-bottom: 12rem;
}

.App-Header {
  display: inline-flex;
  align-items: center;
  padding-right: 250px;
}

.App-Ele {
  padding-right: 100px;
}

/* .App-Ele-Nav {
  display: inline-block;
} */

.App-Page {
  background-image: url('images/background.jpg');
  background-size:520px;
}

.Shen {
  height: 600px;
  width: 624px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.navDiv {
  padding-top: 10px;
}

.Logo {
  height: 200px;
  width: 150px;
}

.Form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.noteDivIn {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.Footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height: 9rem;
  display: inline-flex;
  background-color: #cbdce3;
  width: 100%;
}

.FooterPE {
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}
.FooterA {
  margin-left:auto;
  margin-right: auto;
  margin-top: 28px;
  width: 140px;
}

.FooterC {
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
  width: 140px;
}

.Login {
  margin-bottom: 200px;
}

.Quote {
  display: inline-flex;
  align-items: center;
  padding-left: 125px;
}

.Copy {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-family: Script;
  font-size:x-large;
  font-weight:300;
  padding-bottom: 40px;
}

.Title-Top {
  font-size: 350%;
  font-family: Script;
}

.Title-Bottom {
  font-weight: 600;
  font-size: medium;
}


@font-face {
  font-family: Script;
  src: url(DancingScript-Regular.otf);
}